@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;

  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(./NanumBarunGothicLight.eot);
  src: url(./NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(./NanumBarunGothicLight.woff) format('woff'),
       url(./NanumBarunGothicLight.ttf) format('truetype');
}
#header{
    padding: 30px 0px;
    font-family: "NanumBarunGothic Light";    
    font-size: 20px;
    text-align: center;
    opacity: 0.95;
    background-color: #f6fafa;
    border-radius: 0.62em;
}
#menu {
    
    padding: 10px 20%;
}
#menu li{
    display: inline-block;
    padding: 10px 20px;
    background-color: white ;
    margin: 10px 5px 10px 0px;
    border-radius: 0.62em;
    opacity: 0.75;
    font-size: 7pt;
}
#menu li a{
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #2f2f2f;
    text-decoration: none;
}
#menu li:hover{
    background-color: #c1bbc4;
}
#menu ul li ul{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-left: -20px;
    display: none;
    position: absolute;
}
#menu ul li ul li{
    margin: 5px 0px;
    display: block;
}
#menu ul li:hover ul{
    display: block;
}
#menu ul li ul li a{
    display: block;
}
#menu ul ul a{
}
#contents{
    text-align: center;
    background: hsla(0,0%,100%,.5);
    padding: 10px 10px;
}
h1{
    font-family: "나눔고딕 light";
    
}
#footer{
    position: relative;
    margin-top: 10px;
    text-align: center;
    background: hsla(0,0%,100%,.5);
}
.back{
    z-index: -100;
}
.front{
    z-index: 100;
}
body{
    font:7pt tahoma;
    background-image: url(bg2.jpg);
}
#profileTable table,td, th{
    padding : 0px;
    margin : 0px;
}
#profileTable td a{
    color: black;
    text-decoration: none;
}
#profileTable td:hover{
    background-color: hsla(272, 6%, 81%, 0.44);
    color:white;
}
#profileTable a:hover{
    color:white;
}
.floating-box{
    display: inline-block;
    width: 145px;
    height: 145px;
    margin: 10px;
    overflow:hidden;
}
.squareimage{
    width: 145px;
    height: 145px;
}
.rectangleimage{
    width: 250px;
    height: 200px;
}
table{
    margin:10px auto;
}
table,td,th{
    text-align: center;
    padding: 10px;
    border-bottom: 1px dotted #e2dbdb;
    border-collapse: collapse;
}
table td{
    width: 150px;
}
table th{
    width: 50px;
    font-size: 10px;
}
td span, th span{
    background-color:hsla(0, 0%, 100%, 0.71);
}
#footprint{
    
	width: 12em;
    height: 12em;
	background: #955d9a; 
	background:
		linear-gradient(to left bottom, transparent 50%, hsla(0, 1%, 38%, 0.53) 0) 100% 0 no-repeat,
		linear-gradient(-135deg, transparent 1.5em, #dedede 0);
	background-size: 2em 2em, auto;
	
	padding: 2em;
	color: #333030;
	font: 100% Tahoma, sans-serif;
    
}
input{
    width: 8em;
}
button{
    margin-top: 4px;
    float: right;
    font-size: 8px;
}
.message{
    height: 4em;
}